.simply-countdown {
  overflow: hidden;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.simply-countdown > .simply-section {
  width: 20%; /* Sesuaikan lebar elemen dengan persentase */
  height: 20vh; /* Sesuaikan tinggi elemen dengan persentase viewport height */
  padding: 5%; /* Sesuaikan padding dengan persentase */
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: 5%; /* Sesuaikan margin dengan persentase */
  background: gold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
}

/* Tambahkan media query untuk mengubah properti pada ukuran layar tertentu */
@media (max-width: 767px) {
  .simply-countdown > .simply-section {
    width: 80%; /* Sesuaikan lebar elemen untuk layar handphone */
    height: 12vh; /* Sesuaikan tinggi elemen untuk layar handphone */
    padding: 3%; /* Sesuaikan padding untuk layar handphone */
    margin: 3%; /* Sesuaikan margin untuk layar handphone */
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Tablet */
  .simply-countdown > .simply-section {
    width: 50%; /* Sesuaikan lebar elemen untuk layar tablet */
    height: 20vh; /* Sesuaikan tinggi elemen untuk layar tablet */
    padding: 5%; /* Sesuaikan padding untuk layar tablet */
    margin: 5%; /* Sesuaikan margin untuk layar tablet */
  }
}

@media (min-width: 1024px) {
  /* Laptop dan layar yang lebih besar */
  .simply-countdown > .simply-section {
    width: 30%; /* Sesuaikan lebar elemen untuk layar laptop dan layar yang lebih besar */
    height: 20vh; /* Sesuaikan tinggi elemen untuk layar laptop dan layar yang lebih besar */
    padding: 5%; /* Sesuaikan padding untuk layar laptop dan layar yang lebih besar */
    margin: 5%; /* Sesuaikan margin untuk layar laptop dan layar yang lebih besar */
  }
}
